<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test thread-count="1" name="gRCenforceLogin_logout">
    <classes>
      <class name="gRCenforce.gRCenforceLogin_logout"/>

    </classes>
</test> <!-- gRCenforceLogin_logout-->

<test thread-count="1" name="gRCenforceView_My_Remediation_Tasks">
    <classes>
      <class name="gRCenforce.gRCenforceView_My_Remediation_Tasks"/>

    </classes>
</test> <!-- gRCenforceView_My_Remediation_Tasks-->

<test thread-count="1" name="gRCenforceView_my_Compliance_Tasks">
    <classes>
      <class name="gRCenforce.gRCenforceView_my_Compliance_Tasks"/>

    </classes>
</test> <!-- gRCenforceView_my_Compliance_Tasks-->

</suite> <!-- Suite -->